.app{
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-areas:
        'chat main side-menu';
    gap: 1rem;
    padding-top: 50px;
    // margin: 10px auto;

    .chat{
        grid-area: chat;
        margin: 30px auto;
        position: fixed;
        left: 80px;
        .ant-card-body{
            min-width: 260px;
            max-height: 250px;
            overflow: auto;
        }
        .ant-card-actions{
            cursor: default;
        }
    }

    .main {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'contents contents contents'
            'footer footer footer';
        width: 1024px;
        // height: 2000vh;
        max-width: 100%;
        min-height: 500px;
        margin: 0px auto;
        grid-area: main;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-area: header;
            max-height: 53px;
            padding: 30px;
            z-index: 99;
            background-color: white;
            position: fixed;
            top: 0;
            /* width: 100% */
            left: 0;
            right: 0;

            .page-title{

            }

            .search{

            }

            .topNav{
                min-width: 300px;
            }
        }
        
        .contents {
            grid-area: contents;
        }

        .footer {
            grid-area: footer;
            justify-self: center;
        }
    }

    .side-menu{
        grid-area: side-menu;
        margin: 30px auto;
        position: fixed;
        right: 117px;
        .menu{
            border: 1px solid rgba(5, 5, 5, 0.06);
            border-radius: 8px;
        }
    }
}
